p {
    /* color: black; */
}

* {
    /* color: rebeccapurple; */
    margin: 0, auto;
    text-align: center;
    font-family: 'Nanum Pen Script', cursive;
    font-size: ;
}

#container {
    color:gray; 
    margin: 5px;
}

.blog-header {
    color: #444;
    background-color: rgb(255, 255, 213);
    }

.blog-body {
    color: rgb(221, 221, 221);
    background-color: salmon;
 
}

.blog-footer {
    color:darkslateblue;
    position: relative;
}

h6 {
    font-size: medium;
}

