{% extends 'base.html' %}
{% block css %}
    {% load static %}
   <link href="{% static 'detail.css' %}" rel="stylesheet">
{% endblock css %}

<!-- {% block title %}
<a class="title_a" href="{% url 'home' %}">Animal Crossing</a>
{% endblock title %} -->

{% block content %}
    <table>
        <tbody>
            <tr>
                <th><strong>Title</strong></th>
                <td>{{todo.title}}</td>
            </tr>
            <tr>
                <th><strong>Content</strong></th>
                <td>{{todo.content}}</td>
            </tr>
            <tr>
                <th><strong>Due</strong></th>
                <td>{{todo.deadline | date:'Y-m-d'}}</td>
            </tr>
        </tbody>
    </table>
    <div class="a-class">
        <a href="{% url 'home' %}">Home</a>
        {% if user.is_authenticated adn post.author.pk == user.pk %}
        <a href="{% url 'edit' todo.pk %}">Edit</a>
        <a href="{% url 'delete' todo.pk %}">Delete</a>
        {% endif %}
    </div>
    {% if user.is_authenticated %}
    <form method="POST">
        {% csrf_token %}
        <input type='text' name='content' placeholder=''>
        <button type='submit'>Save</button>
    </form>
    {% endif %}

    <div class='ul'>
        <ul>
            {% for comment in todo.comments.all %}
            <li>{{comment.content}}</li>
            {% if user.is_authenticated and comment.author.pk == user.pk %}
                <a class='delete_a' href="{% url 'delete_comment' todo.pk comment.pk %}">Delete</a>
            {% endif %}
            {% endfor %}
        </ul>
    </div>

{% endblock content %}