<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
    {% load static %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet">
    <link href="{% static 'detail.css' %}" rel="stylesheet">
</head>
<body>
    <h1>Task Detail</h1>
    <table>
        <tbody>
            <tr>
                <th><strong>Title</strong></th>
                <td>{{todo.title}}</td>
            </tr>
            <tr>
                <th><strong>Content</strong></th>
                <td>{{todo.content}}</td>
            </tr>
            <tr>
                <th><strong>Due</strong></th>
                <td>{{todo.deadline | date:'Y-m-d'}}</td>
            </tr>
        </tbody>
    </table>
    <div class="a-class">
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'edit' todo.pk %}">Edit</a>
        <a href="{% url 'delete' todo.pk %}">Delete</a>
    </div>

    <form method = "POST">
        {% csrf_token %}
        <input type = 'text' name='content' placeholder='댓글을 입력해주세요.'>
        <button type='submit'>Save</button>
    </form>

    <div class='ul'>
        <ul>
            {% for comment in todo.comments.all %}
            <li>
                {{comment.content}}
                <a class='delete_a' href="{% url 'delete_comment' todo.pk comment.pk %}">Delete</a>
            </li>
        </ul>
    </div>

</body>
</html>