@font-face {
    font-family: 'KyoboHand';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'KyoboHand';
    text-align: center;
    background-color: rgb(238, 238, 238);
    
}
h1 {color: rgb(43, 43, 43);}

h2 {
    color: rgb(141, 141, 141);
}
textarea {
    font-size:larger;
    background-color: white;
}
label {
    font-size: larger;
    color: rgb(43, 43, 43);
}
form input {
    margin-top: 10px;
    width: 150px;
    height: 30px;
    font-size: 110%;
    background-color: white;
    
}