<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load static %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet">
    <link href="{% static 'home.css' %}" rel="stylesheet">
</head>
<body>
    <h1>TO DO LIST</h1>
    <div class="div-table">
      <table>
          <thead>
              <tr>
                  <th>🌳동물의 숲🌳</th>
              </tr>
          </thead>
          <tbody>
              {% for todo in todos %}
              <tr>
                  <td><a href="{% url 'detail' todo.pk %}">⁑ {{todo.title}} [D-{{todo.remain}}]</a></td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
    </div>
    <div class="div-links">
      <a href="{% url 'new' %}">Add+</a>
    </div>
</body>
</html>