* {
  margin: 0;
  color: rgb(32, 32, 32);
  font-family: "KyoboHand", sans-serif;
}

h1 {
  padding: 7px 20px 7px 20px;
  background-color: rgba(99, 60, 36, 0.9);
  color: rgba(255, 201, 72, 1);
}

th,
td {
  padding-right: 20px;
  padding-bottom: 15px;
  font-size: 30px;
}

table {
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin-top: 120px;
  background-color: rgba(240, 248, 255, 0.5);
}

a:link,
a:visited {
  text-decoration: none;
}

.a-class {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  font-size: 18px;
  background-color: rgba(240, 248, 255, 0.5);
}

a {
  margin-right: 15px;
  border-radius: 10%;
  color: rgba(255, 201, 72, 1);
  background-color: rgba(99, 60, 36, 1);
  padding: 5px;
}

@font-face {
  font-family: "KyoboHand";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-size: cover;
  background-image: url(https://www.nintendo.com/content/dam/noa/en_US/games/switch/a/animal-crossing-new-horizons-switch/animal-crossing-new-horizons-switch-hero.jpg);
}

.base_a{
  color: white;
  background-color: rgba(255, 130, 146, 0.918);
  border: 0;
  font-family: 'Gamja Flower', cursive;
  font-size: 25px;
}

.title_a{
  color: white;
  background-color: rgba(255, 130, 146, 0.918);
  border: 0;
}

form{
  display: flex;
  justify-content: center;
}
input{
  width: 230px;
  font-family: 'Gamja Flower', cursive;
  margin-top: 65px;
}

button{
  font-family: 'Gamja Flower', cursive;
  margin-top: 65px;
  margin-left: 8px;
  background-color: #ffd9d9;
}

.delete_a{
  font-size: 10px;
  font-family: 'Gamja Flower', cursive;
  margin-left: 13px;
  border-style: dotted;
  border-color: rgba(255, 130, 146, 0.918);
  border-radius: 15%;
  color: rgb(131, 122, 126)
  
}

.ul{
  display: flex;
  justify-content: center;
  
}

ul{
  border-style: solid;
  border-color: rgb(107, 105, 106);
  width: 240px;
  height:130px;
  display: flex;
  margin-top: 17px; 
  flex-direction: column;
  font-family: 'Gamja Flower', cursive;
  padding-top: 7px;
}

ul{
  list-style-type:circle;
}